#carousel {
	width: 90%;
	margin: 0 auto;	
}

.preview > img {
	width: 100px;
	max-height: 100px;
}

#viewwrapper {
	height: 400px;
}

#view {
	height: 400px;	
	text-align: center;		
}

#view > img {
	max-height: 400px;		
}

#preview {
	display: flex;	
	justify-content: center;	
}
 
.preview {
	float:left;
}

#prev {
	float:left;
	height: 400px;
}

#next {
	float:right;
	height: 400px;
}

#circles {
	clear: both;
	display: flex;
	justify-content: center;
}

.circle {
	border: 3px solid blue;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	display: inline-block;	
}

.circle-filled {
	background-color: blue;
}

.preview-popup {
	position: fixed;
	width: 50px;
	height: 50px;
	border: 3px solid blue;
	top: 10px;
	border-radius: 10px;
}
